<div id="surveys">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-4">
                <img src="/img/dashboard.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="auto" loading="lazy">
            </div>
            <div class="col-lg-8">
                <h2 class="display-5 fw-bold lh-1 mb-3">What is so unique about the surveys</h2>
                <p class="lead details">We use a unique approach where we gather inputs not just from the employees, but also consider the existing processes and the feedback from the key stakeholders who are responsible for an area, and take in a holistic approach to gather insights. And because we do not offer consulting services, we do not have any incentive to call a spade a spade. Choose from our existing areas, or choose our overall survey, or build your own survey.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href ="/surveys"><button type="button" class="btn btn-primary  px-4 me-md-2">Learn More</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

