<!--Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light section" style="background-color: #fffff;">
    <div class="container-fluid">
        <a class="navbar-brand " href="/">
            <img src="img/moon.png" alt="" width="48" height="auto" class="d-inline-block ">
            <span class=".d-none .d-sm-block .d-md-none" style="color:#E14D2A"><em>The Dream Workplace</em></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fw-bold">
                
                <li class="nav-item">
                    <a class="nav-link" href="/surveys">Surveys</a>
                </li>
                
                
                
                <li class="nav-item">
                    <a class="nav-link" href="/examples">Examples</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#themes">The 12 Themes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/share">Share your story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
