<div id="surveys">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/img/dashboard.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="auto" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6 fw-bold mb-3">Want to become a Dream Workplace?</h2>
                <p class="lead fw-bold">Take the world's most comprehensive employee survey or a customized and focused survey.</p>
                <p class="lead">Are you a CEO or a CHRO? Are you part of an HR team? Do you want to understand what your talent thinks of your talent strategy? Want to understand where you stand across multiple areas of talent management? Take our surveys that are based on our <b>unique 4-dimensional framework and the TIKs approach</b> and get to know the what, when, why, and how. Choose from one of the following - focused surveys, comprehensive surveys, or aspiration surveys - built across every aspect of talent.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href ="/surveys"><button type="button" class="btn btn-primary btn px-4 me-md-2">Start the surveys</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
