<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>
    <title>Contact us - The Dream Workplace</title>
</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>
    
    
    <!--Contact Us Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-3">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-9 display-5 fw-bold lh-1 mb-4">Contact Us</h2>
                    <p class="lead">Contact us for anything that you feel is relevant - to conduct an assessment in your organization, to add more examples, to learn more about The Dream Workplace, or just to say hi. We will get back to you soon. Or you can send a mail to <a href="mailto:contactus@thedreamworkplace.com">contactus@thedreamworkplace.com</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <!--Contact Us Form -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-row align-items-top g-5 py-5">
                 <h4 class="col-lg-9 lh-1 mb-1 d-inline">Fill in the below form to reach out to us</h4>
                <div data-tf-widget="zkJKiugq" data-tf-opacity="100" data-tf-iframe-props="title=Contact Us" style="width:100%;height:600px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
            </div>
        </div>
    </div>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
