<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>The Dream Workplace - Get your engagement right through surveys and examples</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav_main.ejs') %>


    <!--Hero Section -->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-row-reverse align-items-center g-5 py-3">
            <div class="col-lg-6 text-sm-center text-lg-end">
                <h1 class="display-2 fw-bold lh-1 mb-5">The Dream Workplace</h1>
                <h3 class="fw-bold lh-2 mb-4">World's Most Comprehensive, World's First Customized Employee Surveys</h3>
                <p class="lead">Make your organization the way your talent dreams <b><em>engaging, fun, fair, personal, and purpose-driven</em></b> - through the world's first ever customized surveys. <br><br> Understand where you stand, and learn from real world examples. Take our assessments now.</p>
                <div class="d-grid gap-2 d-flex justify-content-lg-end justify-content-sm-center">
                    <a href="/surveys"><button type="button" class="btn btn btn-primary px-4 gap-1" style="min-width:180px">Use our surveys</button></a>
                    <a href="/examples"><button type="button" class="btn btn-outline-secondary px-4 gap-1" style="min-width:180px">See examples</button></a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="/img/hero.jpg" class="d-block mx-lg-auto img-fluid animate__animated animate__bounce" alt="The Dream Workplace" width="100%" height="auto" loading="lazy" style="border-radius:5px">
            </div>
            
        </div>
    </div>
    
    <!--About The Dream Workplace -->
    <div id="about">
        <div class="container col-xl-8 col-xxl-8 px-4 py-3" style="border-top: 1px solid #DDDDDD">
            <div class="row align-items-center g-lg-12 py-5">
                <div class="col-lg-12 text-center text-lg-center">
                    <h2 class="display-6 fw-bold lh-1 mb-3">What is <em>The Dream Workplace</em>?</h2>
                    <p class="col-lg-12 fs-4">The Dream Workplace is an organization that aims to help create dream workplaces through customized and comprehensive talent surveys. Whether you are a CEO or a team lead, take our assessments, or learn more from our examples.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center justify-content-lg-center py-4">
                        <a href="/surveys"><button type="button" class="btn btn-primary btn px-4 gap-1">Tell me more </button></a>
                        <a href="/examples"><button type="button" class="btn btn-secondary btn px-4 gap-1">See Examples</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Surveys-->
    <%- include ('partials/survey.ejs') %>

    <!--Themes Section -->
    <div class="px-4 py-5" id="themes" >
        <div class="container col-xl-10 col-xxl-8">
            <div class="row align-items-top g-lg-5 py-3">
                <div class="col-lg-6 text-left text-lg-start">
                    <h2 class="display-6 fw-bold">What makes a dream workplace?</h2>
                    <div class="mx-auto">
                        <p class="fs-5 fw-bold">We believe that rise of the 12 transitional themese is what makes a dream workplace</p>
                        <p class="fs-5 mb-4">Twenty years ago, mobiles were a new phenomenom. Today they are everywhere creating a diruptive shift in the way we communicate and interact with each other. Sadly, we have not seen such a disruptive transformation in the world of work even though the need for such a shift has been long overdue. At The Dream Workplace, we believe that the dream workplace of this era will be defined by the success in understanding the shift in the 12 engagement themes that we have identified. Understanding the fundamentals of these themes will help organizations make the workplace engaging, fun, fair, personal, and purpose-driven. They form the basis of our surveys, and have been designed based on research by organizational behaviour and psychology experts.</p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-start mb-5">
                            <a href="/themes"><button type="button" class="btn btn-primary btn px-4 me-sm-3" style="min-width:240px">Learn more</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 mx-auto col-lg-6 py-2">
                    <div class="d-grid gap-2 justify-content-sm-center mb-5">
                        <h5 class="fw-bold lh-1 mb-3 px-3">From control to trust &amp; accountability</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From rules to guides</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From hiring to integration</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From hierarchy to teams</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From timesheets to effort &amp; outcomes</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From resources to partners</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From wages and bonuses to total rewards</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From promotions to growth and mastery</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From secrecy to openness</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From work-life balance to work-life integration</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From rigidity to agility</h5>
                        <h5 class="fw-bold lh-1 mb-3 px-3">From maximum profit to optimum delight</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Examples Section -->
    <div id="example" style="background-color: #DDDDDD">
        <div class="container col-xl-12 col-xxl-8 px-4 py-3">
            <div class="row align-items-center g-lg-12 py-5">
                <div class="col-lg-12 text-center text-lg-center">
                    <h2 class="display-6 fw-bold lh-1 mb-3">Comprehensive Real World Examples</h2>
                    <p class="col-lg-12 fs-4">Our list of examples includes a collection of the best practices and initiatives used by companies that are successful and great in employee engagement. Read them, learn from them, and implement them in your organizaiton.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center justify-content-lg-center py-4">
                        <a href="/allExamples"><button type="button" class="btn btn-primary btn px-4 gap-1">See All the Examples</button></a>
                        <a href="/examples"><button type="button" class="btn btn-secondary btn px-4 gap-1">Examples by Themes</button></a>
                    </div>
                </div>
                <!--<div class="col-md-10 mx-auto col-lg-5 d-none d-md-block d-lg-block" >
                    <div>
                        <div class="row  py-3">
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/automaticc.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/basecamp.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/dreamwork.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/google.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/hubspot.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/medium.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/microsoft.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/netflix.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/patagonia.svg" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/spotify.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/starbucks.png" width="70%" height="auto">
                            </div>
                            <div class="col-sm-4">
                                <img class="d-block mx-auto mb-4" src="img/logos/valve.png" width="70%" height="auto">
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
