<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>
    <title>Share the right OKRs for driving employee engagement</title>
</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>


    <!--OKR Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-3">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-9 display-5 fw-bold lh-1 mb-4">Craft the right OKRs for driving employee engagement</h2>
                    <p class="lead">We will help you draft the right OKRs for driving employee engagement, or even work along with you and help you write out the right OKRs for you across the organization - through a collaborative approach. </p>
                </div>
            </div>
        </div>
    </div>

    <!--OKR Content -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-row align-items-top g-5 py-3">
                <h4 class="col-lg-9 lh-1 mb-1 d-inline">How do we do that?</h4>
                <p class="lead mt-1 d-inline">Send us a mail at <a href="mailto:contactus@thedreamworkplace.com">contactus@thedreamworkplace.com</a>. Do not forget to include the following details - your organization name, the number of employees in your organization, and the kind of employee engagement that you want to drive - and we will get back to you. After that, we can discuss and collaborate to create an approach that will suit you the best. And we will work with you to write out the best OKRs that can help you drive employee engagement in the right way.</p>
                <h4 class="col-lg-9 lh-1 mb-1 d-inline">How long will it take?</h4>
                <p class="lead mt-1 d-inline">We normally take two weeks to one month from the start of the engagement to define and write out the right OKRs for you. This time is needed because we adopt a customized approach that is different based on the differing needs to different organizations.</p>
                <h4 class="col-lg-9 lh-1 mb-1 d-inline">Will you provide ongoing support?</h4>
                <p class="lead mt-1 d-inline">No, normally we do not provide ongoing support, but we will provide you with the right tools and share with you the best practices that can help you drive and execute these OKRs.</p>
                <h4 class="col-lg-9 lh-1 mb-1 d-inline">Which all areas can you help out when it comes to OKRs?</h4>
                <p class="lead mt-1 d-inline">We will help you write out the right OKRs across all areas of talent - from talent acquisition, to onboarding, to talent engagement, to retention and beyond. Take a look at the different <a href="areas">areas</a> to understand the different areas in which we can provide support.</p>
                <h4 class="col-lg-9 lh-1 mb-1 d-inline">Will you provide support with our overall OKRs and strategy?</h4>
                <p class="lead mt-1 d-inline">No, we do not offer such an engagement. That is not our niche. But we will more than happy to share with you the best practices and lead you to resources that can help you imbibe the philosophy of OKRs within your organization.</p>
                
            </div>
        </div>
    </div>
    
    <!--Surveys-->
    <%- include ('partials/survey.ejs') %>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
