<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>The Services We Offer</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--Examples Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-9 display-5 fw-bold lh-1 mb-3">Our Services</h2>
                    <p class="lead details">Understand where your organization stands from a talent perspective. Get inspired from real-life examples. Craft the right OKRs. And help us propogate our learnings through curated workshops. We have a lot to offer.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Examples Section -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-2">
            <div class="row flex-row align-items-top g-5 py-5">
                <!-- All Examples -->
                <div class="col-lg-6 col-sm-10  trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">Surveys</h3>
                        <p class="lead mt-3 d-block">The world's most comprehensive surveys - custom built and curated. From talent acquisition, to talent engagement, take our custom, curatedsurveys to understand where you stand vis-a-vis your goals, peers, and industry leaders. A completely free set of surveys built for every aspect of talent engagement. With a unique 4-dimensional approach - from the people who do the work, from the people who manage, from the people who lead, and from the people who are at the receiving end.</p>
                        <a href="surveys">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10 trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">Examples</h3>
                        <p class="lead mt-3 d-block">With a ever-growing list of examples from organizations that are the leaders in employee engagement, get inspired from the ones that matter to you, implement them in your workplace and create the dream workplace for your employees. Feel free to implement them in your organization. Updated on a daily basis, these examples are not just theoretical statements, but real-life practices from named organizations. No more - A leading organization did X and Y. Collected from a variety of sources. With no copyright, just for you and your organization.</p>
                        <a href="examples">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10  trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">OKRs</h3>
                        <p class="lead mt-3 d-block">We will help you craft OKRs for you - across levels - that will help you create a dream workplace. We will work with your leaders and teams to build meaningful and practical OKRs that you can track to closure and ensure that you go forward. </p>
                        <a href="okrs">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10  trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">Workshops</h3>
                        <p class="lead mt-3 d-block">We would love to share our learnings with you through workshops with your teams. Reach out to us and we will be interested to give you a customized workshop based on your requirements. These workshops will also provide us with a chance to update ourselves and learn from you. </p>
                        <a href="workshops">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Surveys-->
    <%- include ('partials/survey.ejs') %>


    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
