<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>Assess your workplace with our comprehensive and customized surveys</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--Surveys Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-4">
            <div class="row flex-row align-items-center g-5 py-4">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-12 display-6 fw-bold lh-1 mb-3">World's Most Comprehensive, <br>World's First Ever Customized, <br>Talent Surveys <br> </h2>
                    <p class="lead fw-bold">Share your needs, and let us get back to you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3" id="ff-compose"></div>
    <script async defer src="https://formfacade.com/include/111520180658657182137/form/1FAIpQLSfsHaBSU_XY5mEQlrgLI86ag83K_eLPu3awXi4QfJ5JrobStw/bootstrap.js?div=ff-compose"></script>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
