<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>
    <title>Workshops that will help you create the right employee engagement</title>
</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>


    <!--Workshop Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-3">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-9 display-5 fw-bold lh-1 mb-4">Create the right engagement strategy through customized workshops</h2>
                    <p class="lead">We will help you draft the right talent and engagement strategy by conducting collaborative workshops that includes meetings and focused discussions with the right stakeholders within your organization</p>
                </div>
            </div>
        </div>
    </div>

    <!--Workshop Content -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-row align-items-top g-5 py-3">
                <h4 class="col-lg-9 mb-1 d-inline">How do we do that?</h4>
                <p class="lead mt-1 d-inline">Send us a mail at <a href="mailto:contactus@thedreamworkplace.com">contactus@thedreamworkplace.com</a>. Do not forget to include the following details - your organization name, the number of employees in your organization, and the kind of employee engagement that you want to drive - and we will get back to you. After that, we can discuss and collaborate to create an approach that will suit you the best. And we will work with you to define and execute workshops that can help you drive talent strategy and engagement in the right way.</p>
                <h4 class="col-lg-9  mb-1 d-inline">How long will it take?</h4>
                <p class="lead mt-1 d-inline">The normal workshops take 3 to 4 working days - which will cover a focused group discussions for nearly two days and the other two days will consist of individual discussions with the right stakeholders. And post that we will share a report with you in a weeks time.</p>
                <h4 class="col-lg-9  mb-1 d-inline">Will you provide ongoing support?</h4>
                <p class="lead mt-1 d-inline">No, normally we do not provide ongoing support, but we will provide you with the right tools and share with you the best practices that can help you drive and execute these strategies.</p>
                <h4 class="col-lg-9  mb-1 d-inline">Which all areas can you help out when it comes to talent strategy and engagement?</h4>
                <p class="lead mt-1 d-inline">We will help you write out the right strategy across all areas of talent - from talent acquisition, to onboarding, to talent engagement, to retention and beyond. Take a look at the different <a href="areas">areas</a> to understand the different areas in which we can provide support.</p>
            </div>
        </div>
    </div>
    
    <!--Surveys-->
    <%- include ('partials/survey.ejs') %>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
