/*Bootstrap classes */

.navbar-light .navbar-nav .nav-link {
    color: #001253;
}

.nav-item {
    margin-right: 5px;
    font-size: 1.1rem;
}

.btn-primary {
    background-color: #E14D2A;
    border: 1px solid #E14D2A;
    color: white;
}

.btn-outline-secondary {
    border: 1px solid #E14D2A;
    color: #E14D2A;
}


/*Standard elements*/

body {
    background-color: white;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #E14D2A;
}

h2 {
    color: #E14D2A;
}

h5 {
    border-left: 5px solid #E14D2A;
    padding-top: 4px;
    padding-bottom: 4px;
}

a h4{
    color: black;
    text-decoration: underline;
}

div h5{
    transition: background-color 1s;
    transition-timing-function: ease-in;
}

div h5:hover {
    background-color: #F6F6C9;
}



/*Special classes*/
.logo-image {
    margin-bottom: 10px;
}

.blog-holder {
    border: 1px solid grey;
    padding: 10px;
}

.blog-holder h4{
    color: #E14D2A;
}

.blog-holder a{
    text-transform: uppercase;
    color: #E14D2A;
    font-weight: bold;
}

.independent-hero {
    background-color: #DDDDDD;
    border-bottom: 2px solid #CCCCCC;
}

.chapter-holder h4 {
    color: #E14D2A;
}

.chapter-holder a{
    text-decoration: none;
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
    
}

.example-holder>:first-child{
    color: #E14D2A;
    text-decoration: none;
}

.faq-holder h4 {
    padding-left: 5px;
    border-left: 5px solid #E14D2A;
    
}

.service-holder{
    padding: 20px;
    background-color: #EEE;
    width: 80%;
}

.resource-holder {
    padding: 20px;
}

.resource-container {
    background-color: #EEE;
    padding: 20px;
}

.alternate-container {
    background-color: #DDDDDD;
}

.book-loop {
    background-color: #EEE;
    padding:20px;
    border-radius: 10px;
}

.video-loop {
    background-color: #EEE;
    padding:20px;
    border-radius: 10px;
}

.img-video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.details {
    font-size: 1.3em;
}

/* IDs */
#hero,
#examples,
#surveys, 
#survey-details{
    background-color: #DDDDDD;
}



/* Pagination */
.pagination {
  display: block;
  width: 75%;
  margin: 1em auto;
  text-align: center;
  
  &:after {
    content: '';
    clear: both;
  }
}

.pagination-button {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;  
  background-color: #eee;
  color: #333;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
  
  &:hover {
    background-color: #ddd;
    color: #3366cc;
  }
  
  &.active {
    background-color: #bbb;
    border-color: #bbb;
    color: #3366cc;
  }
  
  $border-radius: 18px;  
  
  &:first-of-type {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-of-type {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

/* arbitrary styles */
.heading { text-align: center; max-width: 500px; margin: 20px auto; }

.article-loop {
  display: block;
  width: 75%;
  padding: 1em 2em;
  margin: 1em auto;
  border: 1px solid #ddd;
  background-color: #ededed;
}